:root {
    --chswx-body-font-family: system-ui, sans-serif;
    --chswx-heading-font-family: 'Gill Sans', 'Gill Sans MT', system-ui, sans-serif;
}

body {
    font-family: var(--chswx-body-font-family);
    margin: 0 auto;
    font-weight: 400;
}

a {
    color: #005acc;
    text-decoration: none;
    font-weight: bold;
}

div#wrapper {
    padding: 10px;
    max-width: 768px;
    margin: 0 auto;
}

.internal #wrapper ul li {
    list-style: square;
}

div.system-message {
    padding: 10px;
    margin: 10px 0;
    background-color: #ffec94;
    border: 1px solid #d8c87e;
    font-size: 0.9em;
}

h1.main-title {
    background: rgb(53, 54, 194);
    background: linear-gradient(180deg, rgba(53, 54, 194, 1) 0%, rgba(150, 185, 239, 1) 100%);
    color: #FFF;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #666;
    border-bottom: 1px solid rgb(103, 138, 191);
    text-align: center;
}

h1.main-title a {
    color: #FFF;
}

h1.main-title a:active {
    color: #EFEFEF;
}

.chswx-logo {
    filter: drop-shadow(3px 3px 0px rgba(11, 83, 148, 0.5));
    width: 300px;
    pointer-events: none;
}

.home h2,
.alternate {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: rgb(62, 94, 133);
    background-image: linear-gradient(180deg, rgb(0, 145, 255), rgb(62, 94, 133));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-family: var(--chswx-heading-font-family);
    font-weight: 600;
}

.alternate a {
    font-weight: 600;
}

.home h2 span {
    letter-spacing: 0em;
    font-weight: 300;
    text-transform: none;
    color: #777;
    font-size: 0.75em;
}

#currentwx {
    text-align: center;
    margin-bottom: 2em;
}

#temp {
    font-size: 6em;
    font-weight: 700;
}

div#currentwx #temp.frigid {
    color: rgb(131, 62, 153);
}

div#currentwx #temp.cold {
    color: rgb(27, 54, 155);
}

div#currentwx #temp.moderate {
    color: rgb(0, 132, 68);
}

div#currentwx #temp.warm {
    color: rgb(210, 178, 0);
}

div#currentwx #temp.verywarm {
    color: rgb(210, 104, 0);
}

div#currentwx #temp.hot {
    color: rgb(146, 0, 0);
}

div.system-message.outdated-data {
    font-size: 0.75em;
    font-weight: bold;
    margin: -10px auto 20px auto;
    padding: 10px 20px;
    border-radius: 0.5em;
    text-align: center;
    display: inline-block;
}

div.system-message.outdated-data::before {
    content: '\26A0';
    padding-right: 3px;
}

div.fail {
    margin: 32px 0;
    color: #555;
    display: inline-block;
    background-color: #ffdfdf;
    border: 1px solid #ff9f9f;
    border-radius: 5px;
    padding: 30px 30px 32px 30px;
}

div.fail h3 {
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    color: #9f6363;
}

div.fail p {
    font-size: 0.8em;
    margin: 3px 0 0 0;
}

#sky {
    font-size: 2em;
    font-weight: 600;
    color: #444;
    margin-bottom: 18px;
}

#feels-like {
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 18px;
    margin-top: -5px;
    color: #777;
}

#feels-like span {
    font-weight: 700;
}

#feels-like span.wc {
    color: #090082;
}

#feels-like span.hi {
    color: #c81c00;
}

#feels-like span.hi.danger {
    color: #7e007e;
}

#feels-like span.hi.danger::after {
    content: '\26A0';
}

#others {
    clear: both;
}

ul#others {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 350px;
}

#others li {
    width: 50%;
    float: left;
    font-weight: 600;
    padding: 2px 0;
}

#others span.title {
    font-weight: 300;
    color: #777;
}

.updated-time,
.intro-text {
    clear: both;
    font-size: 0.7em;
    padding-top: 3px;
    color: #777;
}

.updated-time a {
    color: #777;
}

#currentwx .updated-time {
    margin-bottom: 2em;
    padding-top: 1em;
}

/* Advisories */

#advisories {
    margin-bottom: 2em;
}

#advisories ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

#advisories li.alert {
    border: 1px solid #DDD;
    background-color: #EEE;
    color: #000;
    border-radius: 0.5em;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

#advisories ul li span.alert-name {
    font-weight: bold;
    display: block;
    font-size: 1.2em;
}

#advisories ul li span.alert-areas {
    font-size: 0.8em;
}

#advisories ul li span.alert-timing {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0.4em;
}

#advisories li.alert ul {
    font-size: 0.85em;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #DDD;
    background-color: #FFF;
    color: #000;
}

#advisories li.alert ul {
    display: none;
}

#advisories li[class*="-watch"] {
    border-color: rgb(255, 194, 5);
    background-color: rgb(255, 236, 69);
    color: #000;
}

#advisories li[class*="-advisory"] {
    border-color: rgb(198, 151, 4);
    background-color: rgb(255, 176, 14);
    color: #000;
}

#advisories li[class*="-warning"] {
    border-color: rgb(128, 0, 0);
    background-color: rgb(192, 0, 0);
    color: #FFF;
}

#advisories span.danger::before {
    content: '\26A0';
    padding-right: 5px;
}

#advisories span.danger {
    font-weight: bold;
}

#forecast ul {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
}

#forecast ul li {
    padding: 0 0 20px 0;
    font-size: 0.9em;
    line-height: 1.4em;
}

#forecast .day {
    font-weight: 600;
    font-family: var(--chswx-heading-font-family);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    color: #444;
    font-size: 1.05em;
}

#footer {
    background-color: #444;
    padding: 10px 10px 20px 10px;
    color: #CCC;
    margin-top: 20px;
    clear: both;
}

#footer-wrapper {
    max-width: 768px;
    margin: 0 auto;
    background: linear-gradient(rgba(68, 68, 68, 0.5), rgba(68, 68, 68, 0.5)), url(../assets/wordmark-oneline.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 16rem;
    padding-top: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

#footer-wrapper p {
    font-size: 0.8em;
    font-weight: 300;
}

#footer-wrapper h2 {
    color: #EEE;
    margin: 10px auto;
}

#footer-wrapper h3 {
    font-family: var(--chswx-heading-font-family);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.2em;
    margin-bottom: -0.5em;
}

#footer-wrapper ul {
    list-style: none;
    padding: 0px;
    font-size: 0.7rem;
}

#footer-wrapper ul li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-left: 10px;
}

#footer-wrapper ul li:first-child {
    padding-left: 0px;
}

#footer-wrapper ul li::after {
    padding-left: 10px;
    content: '\2022'
}

#footer-wrapper ul li:last-child::after {
    content: '';
    padding-left: 0px;
}

#footer a {
    color: #EEE;
    font-weight: normal;
}

#footer a:hover,
#footer a.active {
    text-decoration: underline;
}

#footer .colophon a {
    font-weight: bold;
}

#footer-wrapper .disclaimer {
    font-size: 0.7rem;
    border-top: 1px solid #777;
    padding-top: 10px;
}

article ul li {
    padding-bottom: 10px;
    list-style: square;
    line-height: 1.4em;
    font-size: 0.9em;
}

article.full-post header.entry-header {
    margin-bottom: 20px;
}

.wp-block-embed-twitter {
    margin: 0 auto 1em auto;
}

.wp-block-embed-twitter .wp-block-embed__wrapper {
    max-width: 535px;
    margin: auto;
}

.liveblog-entry-content img {
    max-width: 100%
}

/* Details block */

.wp-block-details {
    box-sizing: border-box;
    padding: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.wp-block-details summary {
    cursor: pointer;
    background-color: #EEE;
    margin: -0.9em;
    padding: 10px;
}

.wp-block-details[open] summary {
    margin-bottom: 1em;
}

/* Sharing */

div.sharedaddy h3.sd-title {
    font-family: var(--chswx-heading-font-family);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600 !important;
    color: #444;
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* End WordPress Core */

/* Blog welcome */

.blog-welcome {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #CCC;
}

.blog-welcome h1 {
    font-size: 1.0em;
    margin-bottom: 3px;
}

.blog-welcome p {
    margin-top: 0px;
    font-size: 0.8em;
    color: #333;
}

.intro-text {
    padding-bottom: 8px;
    margin: 0 0 10px 0;
}

.home h2 {
    margin-bottom: 0px;
}

/* Archive pages */

.blog .posts-navigation .nav-links .nav-previous {
    float: left;
}

.blog .posts-navigation .nav-links .nav-next {
    float: right;
}

/* Latest Updates home feed */

.news-feed {
    margin-bottom: 2em;
}

/* Latest Updates page */

.date-header {
    font-family: var(--chswx-heading-font-family);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-left: 5px solid #00227d;
    padding-left: 10px;
    color: #333;
}

.latest-updates-archive aside {
    border-bottom: 1px solid #EEE;
}

.latest-updates-archive aside:last-of-type {
    border-bottom: none;
}

/* Global post styles */

article p {
    font-size: 0.9em;
    line-height: 1.4em;
}

/* Partial posts */

article.partial-post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

article.partial-post:last-child {
    border-bottom: none;
    margin-bottom: 20px;
}

.home article.partial-post {
    border-bottom: none;
    margin-bottom: 0px;
}

article.partial-post header {
    border-left: 5px solid #003b9f;
    padding: 2px 2px 2px 8px;
}

article.partial-post header h1 {
    margin-bottom: 2px;
    margin-top: 0px;
    padding-top: 0px;
    letter-spacing: -0.01em;
    font-size: 1.5em;
}

article.partial-post header h1 a {
    color: #000;
}

article.partial-post header h1 a:hover,
article.partial-post header h1 a:active {
    color: #003b9f;
}

article.partial-post header.entry-header {
    margin-bottom: 20px;
}

/* Single posts */

article.full-post header {
    border-left: 5px solid #003b9f;
    padding: 2px 2px 2px 8px;
}

article.full-post header h1 {
    margin-bottom: 2px;
    margin-top: 0px;
    padding-top: 0px;
    letter-spacing: -0.01em;
    font-size: 1.8em;
}

.meta {
    color: #444;
    font-size: 0.8em;
    text-transform: uppercase;
}

.meta a {
    color: #333;
}

.meta a:hover,
.meta a:active {
    color: #555;
}

article.full-post h2,
article.full-post h3 {
    letter-spacing: -0.01em;
    color: #222;
}

article.full-post img {
    max-width: 100%
}

article.full-post .entry-footer {
    margin-top: 5px;
}

article.full-post .entry-footer.tagged {
    border-top: 1px solid #DDD;
    padding-top: 10px;
}

article.full-post .entry-footer.tagged .meta {
    padding-bottom: 5px;
}

/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/* Post navigation */

.entry-footer .post-navigation {
    border-top: 1px solid #DDD;
    margin-top: 5px;
}

.entry-footer .post-navigation .nav-links .nav-previous:before {
    content: 'Previously';
    display: block;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    color: #555
}

.entry-footer .post-navigation .nav-links .nav-previous {
    float: left;
    padding: 20px 0px;
}

.entry-footer .post-navigation .nav-links .nav-next:before {
    content: 'Next Up';
    display: block;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    color: #555
}

.entry-footer .post-navigation .nav-links .nav-next {
    float: right;
    padding: 20px 0px;
}

/* Asides/Status */

.aside {
    padding-bottom: 15px;
    margin: 15px 0;
    border-bottom: 1px solid #DDD;
}

.aside p {
    margin-top: 0.1em;
    line-height: 1.4em;
}

.aside .meta .post-link {
    font-weight: normal;
}

/* Responsiveness */

@media screen and (min-width: 600px) {
    h1.main-title {
        font-size: 2em;
    }

    .front-page h2 {
        font-size: 0.9em;
    }

    #temp {
        font-size: 7em;
    }
}

@media screen and (max-width: 600px) {

    .entry-footer .post-navigation .nav-links .nav-next,
    .entry-footer .post-navigation .nav-links .nav-previous {
        float: none;
        padding-bottom: 10px;
    }

    #footer-wrapper h3 {
        letter-spacing: 0.05em;
        font-size: 0.9rem;
        color: #DDD;
    }


}

/* Dark mode support */

@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #FFF;
    }

    h1.main-title {
        background: rgb(39, 39, 142);
        background: linear-gradient(180deg, rgba(39, 39, 142, 1) 0%, rgb(122, 151, 194) 100%);
    }

    div.fail {
        color: #EEE;
        background-color: #9f6363;
        border: 1px solid #7f2f2f;
    }

    div.fail h3 {
        color: #ffbfbf;
    }

    div.system-message {
        background-color: #9e8300;
        border: 1px solid #a18508;
    }

    .home h2,
    .alternate,
    a {
        color: rgb(134, 163, 198);
    }

    .home h2,
    .alternate {
        background-image: linear-gradient(180deg, rgb(101, 188, 255), rgb(72, 154, 255));
    }

    .intro-text,
    .updated-time {
        color: #AAA;
    }

    #feels-like {
        color: #999;
    }

    #feels-like span.wc {
        color: #8597f2;
    }

    #feels-like span.hi {
        color: #ff573d;
    }

    #feels-like span.hi.danger {
        color: #d37ad3;
    }

    article.partial-post header h1 a {
        color: #FFF;
    }

    article.partial-post header h1 a:hover,
    article.partial-post header h1 a:active {
        color: rgb(134, 163, 198);
    }

    #sky,
    article.full-post h2,
    article.full-post h3 {
        color: #EDEDED;
    }

    .meta,
    .meta a,
    .wp-block-image figcaption,
    #others span.title {
        color: #999
    }

    .meta a:hover,
    .meta a:active,
    .entry-footer .post-navigation .nav-links .nav-previous:before {
        color: #777;
    }

    article.full-post .entry-footer.tagged,
    .entry-footer .post-navigation {
        border-top-color: #444;
    }

    .blog-welcome {
        border-bottom: 1px solid #444;
    }

    .blog-welcome p {
        color: #AAA;
    }

    #forecast .day {
        color: #AAA;
    }

    article.partial-post header,
    article.full-post header {
        border-left-color: rgb(134, 163, 198);
    }

    article.partial-post {
        border-bottom-color: #444;
    }

    .wp-block-separator.is-style-dots:before {
        color: #DDD;
    }

    div.sharedaddy h3.sd-title {
        color: #777;
    }

    .liveblog-entry {
        background: transparent;
        border-top: 2px solid #444;
        border-bottom: none;
    }

    .liveblog-meta-time span:first-child {
        color: #777;
    }

    .date-header {
        font-family: var(--chswx-heading-font-family);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-left: 5px solid #00227d;
        padding-left: 10px;
        color: #EEE;
    }

    .latest-updates-archive aside,
    .aside {
        border-bottom: 1px solid #333;
    }

    #advisories li.alert {
        border: 1px solid #393939;
        background-color: #282828;
        color: #ffffff;
    }

    #advisories li[class*="-watch"] {
        border-color: rgb(186, 140, 0);
        background-color: rgb(185, 171, 50);
        color: #000;
    }

    #advisories li[class*="-advisory"] {
        border-color: rgb(172, 131, 7);
        background-color: rgb(213, 146, 13);
        color: #000;
    }

    #advisories li[class*="-warning"] {
        border-color: rgb(79, 0, 0);
        background-color: rgb(140, 0, 0);
        color: #eaeaea;
    }

    #footer {
        background-color: rgb(34, 34, 34);
    }

    #footer-wrapper {
        background-image: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url(../assets/wordmark-oneline.svg);
    }
}